{% extends "blog/base.html" %}
{% block content %}
   

<div class="blog-container">
  
  <div class="blog-header">
    <div class="blog-cover">
      <div class="blog-author">
        <h3>Jaysal Patel</h3>
      </div>
    </div>
  </div>

  <div class="blog-body">
    <div class="blog-title">
      <h2><a href="google.com/memphis">Memphis </a></h2>
    </div>
    <div class="blog-summary">
      <p>I am currently a service desk anaylst working for Terminix</p>
    </div>
    <div class="blog-tags">
      <ul>
        <li><a href="www.github.com/jaysalpatel">Github</a></li>
      </ul>
    </div>
  </div>
  

{% endblock content  %}