{% extends "blog/base.html" %}
{% block content %}
{% comment %} {% for tech in tech %} {% endcomment %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   

  </head>
  
  <body> 
    {% for cultures in culture %}
    <div class="container">
        <div class="row row-cols-1">
        <div class="col">
        <h1> Column1</h1>
        <h2> Descri ption </h2>
        </div>
    
    </div>
    </div>
    
   </body>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</html>
    



{% endfor %}
{% endblock content  %}