{% extends "blog/base.html" %}
{% block content %}
{% comment %} {% for tech in tech %} {% endcomment %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <div class="container">
        <div class="row row-cols-1">
        <div class="col">
        <h1> Column1</h1>
        <h1> Projects </h1>
    </div>
       
  <div class="container">
        <div class="row row-cols-1 mt-3" style="width 200px;">
        <p1>Continuous Integration pipeline with Django and PostgreSQL<p1>

        </div>
        </div>
        <div class="row row-cols-1 mt-2">
        <h4> Gitlab: https://gitlab.com/jaysalpatel/django-resume-blog.git </h4>


  <div class="container-md">
        <div class="row row-cols-4 mt-2">
        <h2> Kubernetes <h2>
        <p4 class="row row-cols-2 mt-3"> Deployment and Container orchestration tools </p4>

        </div>
  </div>
  </head>
  
  <body> 
    {% for tech in tech %}
    
    
    </div>
    </div>
    
   </body>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</html>

{% endfor %}
{% endblock content  %}