{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1> Registration page </h1>
    <div class='content-section'>
    <form method="POST">
    {% comment %} cs rf token, cross site request forgery token {% endcomment %}
        {% csrf_token %}
        <fieldset class='form-group'>
        <legend class="border-bottom mb-4"></legend>
        {% comment %} print out form, access form variable will display form labels and fields {% endcomment %}
        
        {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn-outline-info" type="submit"> Sign up </button>
            {% comment %} If you have already an account then sign in {% endcomment %}
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
        Already Have an Account? <a class="ml-2" href="#">Sign In</a>
        </small>
    </div> 
    </div>
{% endblock content %}